.widget {
  background: $light-blue;
  margin-bottom: $l-size;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  color: $off-white;
  padding: $m-size;
  background: $blue;

  h3 {
    margin: 0;
  }
}

.widget-message {
  color: $off-white;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%);
  padding: $l-size;
}